.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.element {
  margin: 10px;
  padding: 5px;
}

.text-box {
  width: 75%;
}

h1 {
    color: blue;
}

span {
    color: cornflowerblue;
}

html, body, .container-fluid {
    background-color: honeydew;
}
  
  .text-input {
    font-size: 16px;
  }
  
  .hash-output {
    color: #575B5E;
    font-size: 16px;
    letter-spacing: 2px;
    white-space: pre-wrap;
  }
  
  .hash-heading {
    color: #575B5E;
    font-weight: normal;
  }